.ops-card {
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 15px;
  background: #fff;
  color: rgba(0,0,0,.87);
  margin: 10px;
  box-shadow: 0 2px 1px -1px rgba(0,0,0,.2), 0 1px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
}

.idle {
   background-color: lightgrey;
 }

.success {
  background-color: lightgreen;
}

.failure {
  background-color: pink;
}

.loading {
  background-color: yellow;
}

pre-remove {
  overflow-x: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

#rest-test-button {
  margin: 40px;
}

.comp-logo {
  width: 150px;
}

.results-display {
  height: 150px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
